<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="format-detection" content="telephone=no">

    <title>Kim Coffee</title>
    <link rel="icon" href="frontend/assets/kim-coffee-logo.ico" type="image/x-icon">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./frontend/npm/qrcode.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="frontend/styles/zero.css">
    <link rel="stylesheet" type="text/css" href="frontend/styles/base.css">
    <link rel="stylesheet" type="text/css" href="frontend/styles/main.css">
</head>
<body>
<script src="frontend/helpers/routing-helper.js"></script>
<script src="frontend/helpers/env.js"></script>
<script src="frontend/helpers/generate-qr-code.js"></script>
<script src="frontend/helpers/send-request.js"></script>
<script>
    // GLOBAL VARIABLES
    var ChangeState;
    var IsAccess;
    var IsLoading;
</script>
<div id="app">
    <div class="main-container" :class="state === routeState.Certificate ? 'main-container--certificate-showing' : ''">
        <header v-if="state !== routeState.Certificate">
            <nav>
                <p @click="changeState(routeState.AllCertificates)">Всі сертифікати</p>
                <p @click="changeState(routeState.Create)">Створити сертифікат</p>
            </nav>
        </header>

        <div class="certificate" v-if="state === routeState.Certificate">
            <div v-if="isLoading" class="loader"></div>
            <div class="certificate__certificate" :class="isLoading ? 'element-hidden' : ''">
                <div class="certificate__description-wrapper">
                    <p class="certificate__description">На рахунку сертифіката {{currentCertificate?.name}} <br>{{currentCertificate?.amount}}
                        гривень :)</p>
                </div>
                <button @click="changeState(routeState.Update, currentCertificate.id)" v-if="isAccess">Редагувати
                    сертифікат
                </button>
                <canvas id="qrcode"></canvas>
            </div>
        </div>

        <div class="secure-content" v-if="state !== routeState.Certificate">
            <div class="login__wrapper" v-if="state === routeState.Login">
                <p>Введіть пароль</p>
                <label>
                    <input type="text" v-model="password">
                </label>
                <button @click="doLogin">Авторизуватися</button>
            </div>
            <div style="height: 100%" v-else>
                <div class="certificates" v-if="state === routeState.AllCertificates">
                    <div v-if="isLoading" class="loader"></div>
                    <div v-else>
                        <div class="certificates__header">
                            <h3 class="certificates__title">Активні сертифікати</h3>
                            <label>
                                <input v-model="searchInput" type="text" placeholder="Почніть вводити назву сертифікату">
                            </label>
                        </div>
                        <div class="certificates__certificates">
                            <div class="certificates__certificate" v-for="certificate of filtredCertificates">
                                <div class="certificates__certificate-description">
                                    <h4>Назва сертифіката:</h4>
                                    <p>{{ certificate.name }}</p>
                                    <hr>
                                    <p>Сума: {{ certificate.amount }}</p>
                                </div>
                                <div class="certificates__certificate-actions">
                                    <button @click="changeState(routeState.Update, certificate.id)">
                                        <img src="frontend/assets/edit.svg" alt="Icon" width="24" height="24">
                                    </button>
                                    <button @click="deleteCertificate(certificate.id)" class="button-delete">
                                        <img src="frontend/assets/delete.svg" alt="Icon" width="24" height="24">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="certificate-update" v-if="state === routeState.Update">
                    <div v-if="isLoading" class="loader"></div>
                    <div :class="currentCertificate?.id ? 'certificate-update__container' : 'element-hidden'">
                        <div class="certificate__canvas-wrapper">
                            <canvas @click="downloadQrcode" :class="isLoading ? 'certificate__canvas--hidden' : ''"
                                    id="qrcode"></canvas>
                        </div>
                        <div class="certificate__create-action">
                            <label>
                                Назва сертифіката
                                <input class="certificate__amount-input" v-model="nameInput" type="text"
                                       placeholder="Введить ім'я сертифікату">
                                <span nameInputError class="ui-error"></span>
                            </label>
                            <label>
                                Поточний баланс сертифіката
                                <input class="certificate__amount-input" v-model="amountInput" type="text"
                                       placeholder="Введить баланс (грн)">
                            </label>
                            <button @click="updateCertificate()">Змінити дані сертифіката</button>
                        </div>
                    </div>
                </div>

                <div class="certificate__create" v-if="state === routeState.Create">
                    <div class="certificate-create__container">
                        <div class="certificate__canvas-wrapper">
                            <div v-if="isLoading" class="loader"></div>
                            <canvas @click="downloadQrcode" :class="isLoading ? 'certificate__canvas--hidden' : ''"
                                    id="qrcode"></canvas>
                        </div>
                        <div class="certificate__create-action">
                            <label>
                                Назва сертифіката
                                <input class="certificate__amount-input" v-model="nameInput" type="text"
                                       placeholder="Введить ім'я сертифікату">
                                <span nameInputError class="ui-error"></span>
                            </label>
                            <label>
                                Поточний баланс сертифіката
                                <input class="certificate__amount-input" v-model="amountInput" type="text"
                                       placeholder="Введить баланс (грн)">
                            </label>
                            <button @click="createCertificate()" :disabled="!amountInput.length || !nameInput.length">
                                Сгенерувати QR-код
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var {createApp, ref, onMounted, computed} = Vue

    createApp({
        setup() {
            // readonly
            var routeState = ref(Routes);

            // methods
            var doLogin = () => DoLogin(password.value)
            var createCertificate = () => CreateCertificate({amountInput, nameInput, qrCodeUrl});
            var updateCertificate = () => UpdateCertificate(currentCertificate.value.id, amountInput, nameInput)
            var deleteCertificate = (id) => DeleteCertificate(id, allCertificates);

            // variables
            var amountInput = ref('');
            var nameInput = ref('');
            var password = ref('');
            var searchInput = ref('');

            var isLoading = ref(false);
            var state = ref(getHrefInfo().route);
            var allCertificates = ref(null);
            var filteredCertificates = computed(() => {
                return !searchInput.value
                    ? allCertificates.value ?? []
                    : allCertificates.value.filter((c) =>
                    c.name.toLowerCase().includes(searchInput.value.toLowerCase())
                );
            });
            var currentCertificate = ref(null);
            var isAccess = ref(false);
            var qrCodeUrl = ref('');

            onMounted(() => {
                // setting global variables
                ChangeState = changeState;
                IsAccess = isAccess;
                IsLoading = isLoading;

                // local variables
                var {isRouteEmpty, route, id} = getHrefInfo();
                state.value = route;
                isAccess.value = !!localStorage.getItem('accessToken')
                qrCodeUrl.value = getQrCodeUrl(id);

                // Отримуємо необхідні дані
                // Переходимо та сторінку всіх сертифікатів, якщо це явно вказано,
                // або якщо це url не визначено, але при цьому є accessToken
                if (isRouteEmpty && isAccess.value) {
                    changeState(Routes.AllCertificates);
                    GetAllCertificates(allCertificates);
                } else if (state.value === Routes.AllCertificates) {
                    GetAllCertificates(allCertificates)
                } else if (state.value === Routes.Update || state.value === Routes.Certificate) {
                    GetCertificate(currentCertificate, amountInput, nameInput, () => {
                        generateQrCode(currentCertificate.value.id);
                    })
                }
            })

            var changeState = function (newState, id) {
                // зануляємо поточні значення
                currentCertificate.value = null;
                amountInput.value = '';
                nameInput.value = '';

                qrCodeUrl.value = getQrCodeUrl(id);

                var baseUrl = getHrefInfo().baseUrl
                var newUrl = `${baseUrl}/${newState}${id ? `?id=${id}` : ''}`

                window.history.pushState({}, '', newUrl)
                state.value = newState

                switch (newState) {
                    case Routes.AllCertificates:
                        GetAllCertificates(allCertificates);
                        break;
                    case Routes.Update:
                        GetCertificate(currentCertificate, amountInput, nameInput)
                        generateQrCode(id);
                        break;
                    case Routes.Certificate:
                        GetCertificate(currentCertificate, amountInput, nameInput);
                        break;
                }
            }

            var downloadQrcode = function () {
                if (!confirm('Завантажити svg з qr-кодом?')) {
                    return;
                }

                var fileName = `qrcode-kim-coffee-${new Date().toString()}.svg` // TODO Переробити назву на name

                QRCode.toString(qrCodeUrl.value, {type: 'svg'}, (err, svgString) => {
                    if (err) {
                        console.error('Error generating QR code:', err);
                        return;
                    }

                    var blob = new Blob([svgString], {type: 'image/svg+xml'});

                    // Створюємо посилання для завантаження
                    const link = document.createElement('a');
                    link.href = URL.createObjectURL(blob);
                    link.download = fileName;

                    // Імітуємо клік для завантаження
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                })
            }

            return {
                // readonly
                routeState,

                // variables
                isLoading,
                state,
                allCertificates,
                currentCertificate,
                amountInput,
                nameInput,
                password,
                isAccess,
                searchInput,
                filtredCertificates: filteredCertificates,

                // methods
                createCertificate,
                deleteCertificate,
                changeState,
                updateCertificate,
                doLogin,
                downloadQrcode,
            }
        }

    }).mount('#app')

    // Намагаюся запобігти проблемам рендеренгу на смартфонах при першій відмальовці
    window.addEventListener('load', () => {
        requestAnimationFrame(() => {
            const vh = window.innerHeight * 0.01; // 1% від видимої висоти
            document.documentElement.style.setProperty('--vh', `${vh}px`);

            document.body.style.display = 'none';
            document.body.offsetHeight;
            document.body.style.display = '';
        });
    });
</script>
</body>
</html>
