#app {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#qrcode {
    height: 200px !important;
    width: 200px !important;
}

@media (max-width: 1024px) {
    #qrcode  {
        height: 35vw !important;
        width: 35vw !important;
    }
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: antiquewhite;
    width: 1200px;
    min-height: 100dvh;
    overflow: hidden;
}

@media (max-width: 800px) {
    .main-container {
        height: 100%;
        width: 100%;
    }
}

header {
    display: flex;
    justify-content: space-between;
    height: 10dvh;
    width: 100%;
    padding: 30px;
}

@media (max-width: 800px) {
    header {
        padding: 8px;
        font-size: 12px;
    }
}

nav {
    align-items: end;
    justify-content: center;
    display: flex;
    gap: 20px;
}

nav p {
    cursor: pointer;
    transition: .2s all;
}

nav p:hover {
    text-decoration: underline;
}

.secure-content {
    height: 90dvh;
    width: 100%;
    padding: 20px 10px;
}

/* Login */
.login__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* All certificates */
.certificates {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.certificates__title {
    text-align: center;
}

.certificates__certificates {
    display: flex;
    min-width: 340px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

@media (max-width: 600px) {
    .certificates__certificate {
        min-width: 90vw;
    }
}

.certificates__certificate {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    padding: 10px;
    border-radius: 10px;
    background: #f4e1cf;
    border: 1px solid #e4e4e4;
}

.certificates__certificate-description {

}

.certificates__certificate-actions {
    display: flex;
    align-items: center;
    gap: 5px;
}

.certificates__certificate-actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 40px;
    height: 40px;
}

.certificates__certificate-actions button img {
    color: white;
}

/* Update & create certificate */
.certificate-create__container, .certificate-update__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.certificate-update {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.certificate__canvas-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.certificate__title {
    text-align: center;
    height: 5%;
}

.certificate__create {
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (max-width: 800px) {
    .certificate__create {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.certificate__create-action {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.certificate__canvas--hidden, .element-hidden {
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
}

input.certificate__amount-input {
    width: 200px;
}

@media (max-width: 800px) {
    input.certificate__amount-input {
        width: 100%;
    }

    .certificate__create-action button {
        width: 100%;
    }
}

/* Public certificate */
.certificate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100dvh;
    width: 550px;

    background-image: url("./../assets/certificate.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 1024px) {
    .certificate {
        height: 100dvh;
        width: 100dvw;
    }
}

@media (max-width: 600px) {
    .certificate {
        height: 100dvh;
        width: 100dvw;
    }
}

.certificate__certificate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10dvh 0;
}

.certificate__description-wrapper {
    width: 90%;
    background: #fdfce3;
    padding: 12px 8px;
    border-radius: 10px;
    box-shadow: 5px 4px 30px rgba(0, 0, 0, 0.5);
}

.certificate__description {
    font-family: "Lobster", serif;
    font-size: 24px;
    text-align: center;
}

@media (max-width: 1024px) {
    .certificate__description {
        font-size: 32px;
    }
}

@media (max-width: 600px) {
    .certificate__description {
        font-size: 24px;
    }
}

.certificate #qrcode {
    background: #fdfce3;
    border-radius: 15px;
    box-shadow: 5px 4px 30px rgba(0, 0, 0, 0.5);
}